*{
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cat-image-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;         
}

.cat-image-box img {
  width: 100%;
}
